* {
  padding: 10;
  margin: 10;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 16px;
  margin: 50px;
 }

.umsokn{
  display:flex;
  flex-direction: column;
  margin-bottom:50px;

}

.appli-fyrirsogn{
  font-size: 3em;
  font-weight: bold;
}

.umsokn-takkar{
  display:flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}

.uppl-nafn.p{
  font-size: 2em;
  font-weight: bold;
}
strong{
  font-size: 1.5em;
}

button{
  border-radius: 4px;
}
