* {
  padding: 10;
  margin: 10;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 16px; }

.umsokn{
  display:flex;
  flex-direction: column;

}

.appli-fyrirsogn{
  font-size: 1.5em;
}

.umsokn-takkar{
  display:flex;
  flex-direction: row;
}



.uppl-nafn{
  font-size: 2em;
}
