* {
  padding: 10;
  margin: 10;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content{
  display:block;
  padding: 70px;
}

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
 }

.umsokn{
  display:flex;
  flex-direction: column;
  margin-bottom:50px;

}

.appli-fyrirsogn{
  font-size: 3em;
  font-weight: bold;
}

.umsokn-takkar{
  display:flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}

.uppl *>{
  width:50%;
}
strong{
  font-size: 1.5em;
}

button{
  border-radius: 4px;
}

.button:hover button{
  transition: #bbb 300ms ease-in;
}

.uppl{
  display:flex;
  flex-direction: column;
  width: 50%;
}@media (max-width: 600px) {
    .uppl > * {
      display: flex;
      flex-direction: column;} }

.uppl > *{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:45em;
  margin-bottom: 1em;
}

.uppl > * > input{
  width: 35em;
  border-radius: 4px;
  margin-right: 5em;
  border: 2px solid #888;
}

.uppl > * > textarea{
  width: 35em;
  border-radius: 4px;
  margin-right: 5em;
  border: 2px solid #888;
}

.starf{
  margin-bottom: 1em;
  margin-top: 1.5em;
}

.uppl-texti>input{
  height:6em;
  word-wrap: break-word;
}
